.App {
  font-family: Arial, sans-serif;
  max-width: 768px;
  margin: auto;
  padding: 24px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.todo-item,
.edit-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.task-input {
  width: 50%;
}

.todo-text {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
}

.edit-input,
button {
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-btn:hover,
.edit-btn:hover {
  background-color: rgb(97, 226, 102);
}

.delete-btn:hover,
.cancel-btn:hover {
  background-color: #fc9891;
}

.edit-btn,
.save-btn {
  background-color: #4caf50;
  color: white;
}

.delete-btn,
.cancel-btn {
  background-color: #ed1624;
  color: white;
}
